.scoreCard {
    background-color: #5564bb;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 1rem 3rem;
    width: 30%;
}

.score {
    font-size: 4vw;
    color: white;
}