<div class="scoreLigne">
  <div class="teamView">
    <app-point-score [score]="scoreService.teamACurrentSet()" />
    Nb set: {{ scoreService.teamASets() }}
    <button (click)="update(scoreService.teamA)" [disabled]="scoreService.isSetWin()">+</button>
  </div>
  <div class="teamView">
    <app-point-score [score]="scoreService.teamBCurrentSet()" />
    Nb set: {{ scoreService.teamBSets() }}
    <button (click)="update(scoreService.teamB)" [disabled]="scoreService.isSetWin()">+</button>
  </div>
</div>

<div *ngIf="scoreService.isSetWin() && !scoreService.isMatchWin()">
  <button (click)="scoreService.nextSet()">Passez au set suivant</button>
</div>

<div *ngIf="scoreService.isMatchWin()">
  <span>Victoire de l'équipe </span>
  <span *ngIf="scoreService.teamASets() === 3">A</span>
  <span *ngIf="scoreService.teamBSets() === 3">B</span>
  <span>!</span>
</div>